
    <!-- Portfolio Grid Section -->
    <section id="dates">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Important Dates</h2>
                    <div class="web">
                         <div class="col-mx-6 col-mx-offset-4 mobile text-justify">
                             <li>24.5.2019 (morning)  workshop day </li>
                        </div>
                        <p>More information coming soon!</p>
                    </div>
                    <div class="col-mx-6 col-mx-offset-4 mobile text-justify">
                        {% for date in site.dates %}
                        <li>
                            <span class="font-weight-bold">{{ date.date }}</span>, {{ date.name }}
                        </li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
