
    <!-- Portfolio Grid Section -->
    <section id="dates">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Important Dates</h2>
                    <div class="web">
                         <p>The workshop will be held on the 24.6.2019 as a joined session with <a href="http://squeet.unict.it">SQUEET</a></p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
